html,
body {
    margin: 0;
    min-height: 100vh;
}

canvas {
    display: block;
    vertical-align: bottom;
}

@keyframes spaceLetters {
    0% {
        opacity: 0;
        letter-spacing: normal;
    }
    100% {
        opacity: 1;
        letter-spacing: 1.7rem;
    }
}

@keyframes floatIn {
    0% {
        opacity: 0;
        transform: translateY(1.5rem);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

h1 {
    margin: 0;
    opacity: 0;
    font-size: 4vmax;
    font-family: "Raleway", sans-serif;
    font-weight: 100;
    color: #1db954;
    animation: spaceLetters 1.3s ease-out 0s normal forwards;
}

p {
    opacity: 0;
    font-size: 1.5rem;
    font-family: "Raleway", sans-serif;
    font-weight: 200;
    color: #fff;
    animation: floatIn 0.7s ease-out 0.7s normal forwards;
}

a {
    text-decoration: none;
    color: #fff;
}

button {
    height: 3rem;
    width: 12rem;
    margin: 0.5rem;
    border: 0;
    border-radius: 8px;
    background-color: #000;
    font-size: 1.2rem;
    font-family: "Raleway", sans-serif;
    font-weight: 200;
    color: #fff;
}

button:hover {
    box-shadow: 0 0 12px 2px #1db954;
    transform: translateY(-0.2rem);
    text-decoration: underline;
    letter-spacing: 0.1rem;
    transition: all 0.3s ease-out;
}

joemama {
    letter-spacing: normal !important;
}

.nav {
    margin-top: 2rem;
    width: 100%;
}

.git {
    opacity: 0;
    animation: floatIn 0.7s ease-out 0.9s normal forwards;
}

.coms {
    opacity: 0;
    animation: floatIn 0.7s ease-out 1.2s normal forwards;
}

.title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    align-items: center;
}

#particles-js {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #121212;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
}

#preloader{
	position:fixed;
	top:0;
	left:0;
	right:0;
	bottom:0;
	margin:auto;
	width:100vw;
	height:100vh;
	background:#17161A;
	visibility:hidden;
	opacity:0;
	z-index:9999;
	-webkit-transition: all 1000ms ease;
	-moz-transition: all 1000ms ease;
	-ms-transition: all 1000ms ease;
	-o-transition: all 1000ms ease;
	transition: all 1000ms ease;
}

#preloader.show{
	-webkit-transition-delay: 0;
	-moz-transition-delay: 0;
	-ms-transition-delay: 0;
	-o-transition-delay: 0;
	transition-delay: 0;
}

#preloader_inner {
	position: absolute;
	top: 50%;
	left: 50%;
	margin: auto;
	text-align: center;
	font-size: 10vw;
	font-weight: 800;
	color: #ffffff;
	opacity: 0;
	visibility: hidden;
	-webkit-transform: translate(-50%, 40%);
	-moz-transform: translate(-50%, 40%);
	-ms-transform: translate(-50%, 40%);
	-o-transform: translate(-50%, 40%);
	transform: translate(-50%, 40%);
	-webkit-transition: all 500ms ease;
	-moz-transition: all 500ms ease;
	-ms-transition: all 500ms ease;
	-o-transition: all 500ms ease;
	transition: all 500ms ease;
}

#preloader.show .preloader_inner{
	opacity: 1;
	visibility: visible;
	-webkit-transform: translate(-50%, 50%);
	-moz-transform: translate(-50%, 50%);
	-ms-transform: translate(-50%, 50%);
	-o-transform: translate(-50%, 50%);
	transform: translate(-50%, 50%);
}

#preloader .loader-bar{
	position: fixed;
	left: 0;
	top: 0;
	height: 5px;
	background-color: #ffffff;
	z-index: 1;
}

img{
	display:inline-block;
	max-width:100%;
	height:auto;	
}
